<div class="bg-welcome pic">
  <div class="container-fluid front space text-center">
    <div class="restraint">
      <h1 class="margin">Welcome to Skip The Kids</h1>
      <h4>Share ChildCare With Other Parents In A Childcare Co-Op Pool</h4> 
    </div>
  </div>
</div>

<div class="hundyp bg1 op25 h300">
  <%= image_tag 'avaSmile.jpg', height: '300', width: '300', class: 'left-l float-left' %>
  <div class="hundyp text-center space2">
    Earn Child Care Credit By Arranging Playdates
  </div>
</div>

<div class="hundyp bg2 h300">
  <%= image_tag 'zainePool.jpg', height: '300', width: '300', class: 'right-l float-right' %>
  <div class="hundyp text-center space2">
    Trade Childcare With Other Parents At Your Availability
  </div>
</div>

<div class="hundyp bg3 h300">
  <%= image_tag 'zaineSmile.jpg', height: '300', width: '300', class: 'left-l  float-left' %>
  <div class="hundyp text-center space2">
    Earn Childcare Credits To Redeem When You Need ChildCare
  </div>
</div>

<div class="hundyp bg4 h300">
  <%= image_tag 'avaWaterfall.jpg', height: '300', width: '300', class: 'right-l  float-right' %>
  <div class="hundyp text-center space2">
    Borrow A Child
  </div>
</div>

<div class="hundyp bg5 h300">
  <%= image_tag 'https://images.parents.mdpcdn.com/sites/parents.com/files/styles/width_300/public/images/p_BPH137.jpg', height: '300', width: '300', class: 'left-l  float-left' %>
  <div class="hundyp text-center space2">
    Gift Childcare Credits To Others
  </div>
</div>

<div class="hundyp bg2 h300">
  <%= image_tag 'http://scottsburyhomedaycare.com/wp-content/uploads/2015/04/Children-Playing-Scottsbury-Home-Daycare-Germantown-MD-300x300.png', height: '300', width: '300', class: 'right-l  float-right' %>
  <div class="hundyp text-center space2">
    Connect With Other Parents
  </div>
</div>

<div class="hundyp bg1 h300">
  <%= image_tag 'http://integrityfundraisers.com/data/_uploaded/image/fundraisers/MN/Bemidji/creative-daycare.jpg', height: '300', width: '300', class: 'left-l  float-left' %>
  <div class="hundyp text-center space2">
    Make New Contacts
  </div>
</div>
<div class="hundyp bg3 h300">
  <%= image_tag 'http://academiesmartkids.ca/wp-content/uploads/Understanding-what-your-child-eats-at-daycare-resized1-300x300.jpg', height: '300', width: '300', class: 'right-l  float-right' %>
  <div class="hundyp text-center space2">
    Keep Your Kids Happy While Giving Yourself More Free Time
  </div>
</div>


<div class="bg5">
  <div class="container-fluid green space text-center">
    <div class="restraint">
      Dont have kids? Connect with parents to borrow their kids for a day and see life through young eyes.<br/>
    </div>
  </div>
</div